# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Alembic
alembic/__pycache__/

# Logs
*.log

*.deb